body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:590px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:590px;
}
#u1 {
  position:absolute;
  left:2px;
  top:287px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:400px;
  width:1920px;
  height:140px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:140px;
}
#u3 {
  position:absolute;
  left:2px;
  top:62px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:693px;
  top:562px;
  width:590px;
  height:19px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:400px;
  top:417px;
  width:80px;
  height:81px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:81px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:612px;
  top:417px;
  width:110px;
  height:81px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:81px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:823px;
  top:417px;
  width:94px;
  height:81px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:81px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1034px;
  top:417px;
  width:90px;
  height:100px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1233px;
  top:417px;
  width:89px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1234px;
  top:443px;
  width:80px;
  height:80px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u17 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1430px;
  top:417px;
  width:120px;
  height:38px;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:38px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1430px;
  top:459px;
  width:100px;
  height:25px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1438px;
  top:465px;
  width:12px;
  height:12px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1452px;
  top:462px;
  width:70px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:75px;
  width:1920px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:1903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1920px;
  height:1px;
}
#u27 {
  position:absolute;
  left:390px;
  top:11px;
  width:200px;
  height:60px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u28 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:612px;
  top:36px;
  width:300px;
  height:19px;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:19px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1180px;
  top:54px;
  width:240px;
  height:10px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:10px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-3px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1419px;
  top:54px;
  width:120px;
  height:10px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:10px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-3px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:1221px;
  top:41px;
  width:30px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1231px;
  top:53px;
  width:8px;
  height:8px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u38 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1460px;
  top:41px;
  width:30px;
  height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1471px;
  top:52px;
  width:9px;
  height:9px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u42 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1333px;
  top:41px;
  width:30px;
  height:30px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1344px;
  top:52px;
  width:9px;
  height:9px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1209px;
  top:17px;
  width:70px;
  height:19px;
  font-size:16px;
  color:#FF4A87;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1283px;
  top:16px;
  width:150px;
  height:19px;
  font-size:16px;
  color:#FF4A87;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1447px;
  top:15px;
  width:120px;
  height:19px;
  font-size:16px;
  color:#FF4A87;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:875px;
  top:120px;
  width:123px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:19px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:998px;
  top:111px;
  width:32px;
  height:32px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:790px;
  top:195px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:910px;
  top:195px;
  width:300px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:910px;
  top:227px;
  width:300px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:910px;
  top:258px;
  width:540px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:910px;
  top:290px;
  width:300px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:934px;
  top:329px;
  width:120px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u68 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
