body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1120px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1120px;
}
#u1 {
  position:absolute;
  left:2px;
  top:552px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:930px;
  width:1920px;
  height:140px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:140px;
}
#u3 {
  position:absolute;
  left:2px;
  top:62px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:693px;
  top:1096px;
  width:590px;
  height:19px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:400px;
  top:947px;
  width:80px;
  height:81px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:81px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:612px;
  top:947px;
  width:110px;
  height:81px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:81px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:823px;
  top:947px;
  width:94px;
  height:81px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:81px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1034px;
  top:947px;
  width:90px;
  height:100px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:100px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1233px;
  top:947px;
  width:89px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1234px;
  top:973px;
  width:80px;
  height:80px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u17 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1430px;
  top:947px;
  width:120px;
  height:38px;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:38px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1430px;
  top:989px;
  width:100px;
  height:25px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1438px;
  top:995px;
  width:12px;
  height:12px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1452px;
  top:992px;
  width:70px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:75px;
  width:1920px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:1903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1920px;
  height:1px;
}
#u27 {
  position:absolute;
  left:390px;
  top:11px;
  width:200px;
  height:60px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u28 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:612px;
  top:36px;
  width:94px;
  height:19px;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:19px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1297px;
  top:54px;
  width:240px;
  height:10px;
  opacity:0.5;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:10px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-3px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1180px;
  top:54px;
  width:120px;
  height:10px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:10px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-3px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:1221px;
  top:41px;
  width:30px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1231px;
  top:53px;
  width:8px;
  height:8px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u38 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1460px;
  top:41px;
  width:30px;
  height:30px;
  opacity:0.5;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1471px;
  top:52px;
  width:9px;
  height:9px;
  opacity:0.5;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u42 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1333px;
  top:41px;
  width:30px;
  height:30px;
  opacity:0.5;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1344px;
  top:52px;
  width:9px;
  height:9px;
  opacity:0.5;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1205px;
  top:17px;
  width:70px;
  height:19px;
  font-size:16px;
  color:#FF4A87;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1283px;
  top:16px;
  width:150px;
  height:19px;
  opacity:0.5;
  font-size:16px;
  color:#FF4A87;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1447px;
  top:15px;
  width:120px;
  height:19px;
  opacity:0.5;
  font-size:16px;
  color:#FF4A87;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:415px;
  top:83px;
  width:300px;
  height:19px;
  font-size:16px;
  color:#FF4A87;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:19px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:380px;
  top:110px;
  width:1160px;
  height:30px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:380px;
  top:160px;
  width:1160px;
  height:120px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:120px;
}
#u58 {
  position:absolute;
  left:2px;
  top:52px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:415px;
  top:200px;
  width:20px;
  height:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:466px;
  top:175px;
  width:80px;
  height:80px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u62 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:572px;
  top:185px;
  width:395px;
  height:64px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:64px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1038px;
  top:210px;
  width:86px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1171px;
  top:210px;
  width:20px;
  height:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1231px;
  top:210px;
  width:20px;
  height:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:1191px;
  top:210px;
  width:40px;
  height:20px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1306px;
  top:210px;
  width:86px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:1420px;
  top:204px;
  width:88px;
  height:32px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:656px;
  top:118px;
  width:50px;
  height:16px;
  color:#FFFFFF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:1043px;
  top:118px;
  width:36px;
  height:16px;
  color:#FFFFFF;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1194px;
  top:118px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:1306px;
  top:118px;
  width:30px;
  height:16px;
  color:#FFFFFF;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:1440px;
  top:118px;
  width:40px;
  height:16px;
  color:#FFFFFF;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:380px;
  top:720px;
  width:1160px;
  height:120px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:120px;
}
#u88 {
  position:absolute;
  left:2px;
  top:52px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:415px;
  top:760px;
  width:20px;
  height:20px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:466px;
  top:735px;
  width:80px;
  height:80px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u92 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:572px;
  top:745px;
  width:395px;
  height:64px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:64px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:1038px;
  top:770px;
  width:86px;
  height:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:1171px;
  top:770px;
  width:20px;
  height:20px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u98 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:1231px;
  top:770px;
  width:20px;
  height:20px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:1191px;
  top:770px;
  width:40px;
  height:20px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u102 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:1306px;
  top:770px;
  width:86px;
  height:16px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1420px;
  top:764px;
  width:88px;
  height:32px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:380px;
  top:440px;
  width:1160px;
  height:120px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:120px;
}
#u108 {
  position:absolute;
  left:2px;
  top:52px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:415px;
  top:480px;
  width:20px;
  height:20px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u110 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:466px;
  top:455px;
  width:80px;
  height:80px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u112 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:572px;
  top:465px;
  width:395px;
  height:64px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:64px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1038px;
  top:490px;
  width:86px;
  height:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1171px;
  top:490px;
  width:20px;
  height:20px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:1231px;
  top:490px;
  width:20px;
  height:20px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u120 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:1191px;
  top:490px;
  width:40px;
  height:20px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u122 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1306px;
  top:490px;
  width:86px;
  height:16px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1420px;
  top:484px;
  width:88px;
  height:32px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:380px;
  top:580px;
  width:1160px;
  height:120px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:120px;
}
#u128 {
  position:absolute;
  left:2px;
  top:52px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:415px;
  top:620px;
  width:20px;
  height:20px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u130 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:466px;
  top:595px;
  width:80px;
  height:80px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u132 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:572px;
  top:605px;
  width:395px;
  height:64px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:64px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:1038px;
  top:630px;
  width:86px;
  height:16px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:1171px;
  top:630px;
  width:20px;
  height:20px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u138 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:1231px;
  top:630px;
  width:20px;
  height:20px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u140 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:1191px;
  top:630px;
  width:40px;
  height:20px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u142 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:1306px;
  top:630px;
  width:86px;
  height:16px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:1420px;
  top:624px;
  width:88px;
  height:32px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:380px;
  top:300px;
  width:1160px;
  height:120px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:120px;
}
#u148 {
  position:absolute;
  left:2px;
  top:52px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:415px;
  top:340px;
  width:20px;
  height:20px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u150 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:466px;
  top:315px;
  width:80px;
  height:80px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u152 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:572px;
  top:325px;
  width:395px;
  height:64px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:64px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:1038px;
  top:350px;
  width:86px;
  height:16px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:1171px;
  top:350px;
  width:20px;
  height:20px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u158 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:1231px;
  top:350px;
  width:20px;
  height:20px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u160 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:1191px;
  top:350px;
  width:40px;
  height:20px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u162 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:1306px;
  top:350px;
  width:86px;
  height:16px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:1420px;
  top:344px;
  width:88px;
  height:32px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:380px;
  top:880px;
  width:1160px;
  height:30px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:30px;
}
#u168 {
  position:absolute;
  left:2px;
  top:7px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:1134px;
  top:850px;
  width:80px;
  height:20px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u170 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:1480px;
  top:850px;
  width:60px;
  height:20px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u172 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:1219px;
  top:850px;
  width:60px;
  height:20px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u174 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:1284px;
  top:850px;
  width:60px;
  height:20px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u176 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:1415px;
  top:850px;
  width:60px;
  height:20px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u178 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:1350px;
  top:850px;
  width:60px;
  height:20px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u180 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:417px;
  top:885px;
  width:20px;
  height:20px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u182 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:508px;
  top:885px;
  width:20px;
  height:20px;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u184 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:447px;
  top:887px;
  width:55px;
  height:16px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:541px;
  top:888px;
  width:48px;
  height:16px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:612px;
  top:888px;
  width:120px;
  height:16px;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:742px;
  top:888px;
  width:149px;
  height:16px;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:1460px;
  top:880px;
  width:80px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u194 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:1128px;
  top:889px;
  width:300px;
  height:16px;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
