body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:620px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:620px;
}
#u1 {
  position:absolute;
  left:2px;
  top:302px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:80px;
  width:1920px;
  height:500px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:500px;
}
#u3 {
  position:absolute;
  left:2px;
  top:242px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:400px;
  top:19px;
  width:180px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:580px;
  width:1920px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:820px;
  top:592px;
  width:494px;
  height:16px;
  color:#1E1E1E;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:75px;
  width:1920px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:1903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1920px;
  height:1px;
}
#u11 {
  position:absolute;
  left:1220px;
  top:190px;
  width:300px;
  height:180px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:180px;
}
#u12 {
  position:absolute;
  left:2px;
  top:82px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1250px;
  top:190px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:1250px;
  top:220px;
  width:240px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1250px;
  top:300px;
  width:240px;
  height:30px;
  font-size:16px;
  color:#FFF1F1;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1250px;
  top:220px;
  width:30px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1250px;
  top:260px;
  width:240px;
  height:30px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1250px;
  top:260px;
  width:30px;
  height:30px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1370px;
  top:336px;
  width:150px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
